<div [ngClass]="{
      'first_class': firstClass,
      'second_class': secondClass,
      'third_class': thirdClass}">
  BADIS Mariem
</div>

<button class="btn btn-primary" (click)="changeStyleBtn1()">changer style 1</button><br><br>
<button class="btn btn-danger" (click)="changeStyleBtn2()">changer style 2</button><br><br>
<button class="btn btn-dark" (click)="changeStyleBtn3()">changer style 3</button>

<div appHighLight>
  test directive
</div>

<input type="text" class="form-control" appRainbow>
